<header id="page-header">
  <h2>Shelter Info</h2>
  <navbar id="navbar-header">
    <%= link_to 'All Pets at This Shelter', "/shelters/#{@shelter.id}/pets" %>
    <%= link_to 'Edit Shelter', "/shelters/#{@shelter.id}/edit" %>
    <% if @shelter.no_pending? %>
      <%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
    <% end %>
    <%= link_to 'Create New Review', "/shelters/#{@shelter.id}/reviews/new" %>
  </navbar>
</header>

<main>
  <section>
    <h3>Shelter Details</h3>
    <p>
      Name: <%= link_to "#{@shelter.name}", "/shelters/#{@shelter.id}" %><br/>
      Address: <%= @shelter.address %><br/>
      City: <%= @shelter.city %><br/>
      State: <%= @shelter.state %><br/>
      Zip: <%= @shelter.zip %><br/>
    </p>
    <h3>Shelter Statistics</h3>
    <p>
      Number of Pets Here: <%= @shelter.pet_count %><br/>
      Average Review Rating: <%= @shelter.average_rating ? @shelter.average_rating : "(no reviews)" %><br/>
      Applications On File: <%= @shelter.application_count %><br/>
    </p>
  </section>


  <% @shelter.reviews.each do |review| %>
  <section id = "review-<%= review.id %>">
    <p>
      Title: <%= review.title %> <br/>
      Rating: <%= review.rating%> <br/>
      Content: <%= review.content %> <br/>
      <%= image_tag "#{review.image_path}", alt: "#{review.image_path}" %>
    </p>
    <navbar>
      <%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %>
      <%= link_to 'Delete Review', "/reviews/#{review.id}", method: :delete %>
    </navbar>
  </section>
  <% end %>

</main>
