<header id="page-header">
  <h2>Favorite Pets</h2>
  <navbar>
    <%= link_to 'Adopt Favorited Pets', '/applications/new' %>
    <%= link_to 'Remove All Favorited Pets', '/favorites', method: :delete %>
  </navbar>
</header>

<main>
  <section class="wide">
    <section id="applied_pets">
      <h3>All Applied-For Pets</h3>
      <% @pets.applied.each do |applied_pet| %>
        <p><%= link_to "#{applied_pet.name}", "/pets/#{applied_pet.id}" %></p>
      <% end %>
    </section>
    <section id="approved_pets">
      <h3>All Pets with Approved Applications</h3>
      <% @pets.approved.each do |approved_pet| %>
        <p><%= link_to "#{approved_pet.name}", "/pets/#{approved_pet.id}" %></p>
      <% end %>
    </section>
  </section>
  <% unless @pets.favorited(@favorites).empty? %>
    <% @pets.favorited(@favorites).each do |favorite| %>
      <section id="favorite-<%= favorite.id %>">
        <h3>
          <%= link_to favorite.name, "/pets/#{favorite.id}" %>
        </h3>
        <p>
          <%= image_tag "#{favorite.image_path}", alt: "#{favorite.image_path}" %>
        </p>
        <navbar>
          <%= link_to 'Remove From Favorites', "/favorites/#{favorite.id}", method: :delete %>
        </navbar>
      </section>
    <% end %>
  <% else %>
    <section id="no-favorites">
      <p>
        You have not favorited any pets.<br/>
        Visit pet pages and click 'Favorite This Pet' to add them here!
      </p>
    </section>
  <% end %>
</main>
