<header id="page-header">
  <h2>Favorite Pets</h2>
  <navbar>
    <%= link_to 'Adopt Favorited Pets', '/applications/new' %>
    <%= link_to 'Remove All Favorited Pets', '/favorites', method: :delete %>
  </navbar>
</header>

<main>
  <% unless @favorites.empty? %>
    <% @favorites.each do |favorite| %>
      <section id="favorite-<%= favorite.id %>">
        <h3>
          <%= link_to favorite.name, "/pets/#{favorite.id}" %>
        </h3>
        <p>
          <%= image_tag "#{favorite.image_path}", alt: "#{favorite.image_path}" %>
        </p>
        <navbar>
          <%= link_to 'Remove From Favorites', "/favorites/#{favorite.id}", method: :delete %>
        </navbar>
      </section>
    <% end %>
  <% else %>
    <aside id="no-favorites">
      <p>
        You have not favorited any pets.<br/>
        Visit pet pages and click 'Favorite This Pet' to add them here!
      </p>
    </aside>
  <% end %>
  <section id="applied_pets">
    <% @applied_pets.each do |applied_pet| %>
      <%= link_to "#{applied_pet.name}", "/pets/#{applied_pet.id}" %>
    <% end %>
  </section>
</main>
