<header id="page-header">
  <h2>Pets Index</h2>
  <navbar>
    <%= link_to 'Show All Pets', '/pets', class: "#{@all_pets}" %>
    <%= link_to 'Show Only Adoptable Pets', '/pets?adoptable=true', class: "#{@adoptable_pets}" %>
    <%= link_to 'Show Only Adoption-Pending Pets', '/pets?adoptable=false', class: "#{@pending_pets}" %>
  </navbar>
</header>

<main>
  <% @pets.each do |pet| %>
    <section id="pet-<%= pet.id %>-section">
      <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
      <p>
        Approximate Age: <%= pet.approx_age %><br/>
        Sex: <%= pet.sex %><br/>
        Current Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %><br/>
        <%= image_tag "#{pet.image_path}", alt: "#{pet.image_path}" %>
      </p>
      <navbar>
        <%= link_to 'Edit Pet Info', "/pets/#{pet.id}/edit" %>
        <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %>
      </navbar>
    </section>
  <% end %>
</main>
