<header id="page-header">
  <h2>Add Adoptable Pet</h2>
</header>

<main>
  <section>
    <%= form_tag "/shelters/#{@shelter.id}/pets", method: :post do %>
      <%= label_tag :name %>
      <%= text_field_tag :name %><br/>
      <%= label_tag :approx_age, 'Approximate Age' %>
      <%= text_field_tag :approx_age %><br/>
      <%= label_tag :sex %>
      <%= text_field_tag :sex %><br/>
      <%= label_tag :image_path, 'Image Path' %>
      <%= url_field_tag :image_path %><br/>
      <%= label_tag :description %>
      <%= text_field_tag :description %><br/>
      <%= label_tag :submit, "" %>
      <%= submit_tag 'Submit' %>
    <% end %>
  </section>
</main>
