<header id="page-header">
  <h2>Pet Info</h2>
  <navbar>
    <%= link_to 'Edit Pet Info', "/pets/#{@pet.id}/edit" %>
    <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
    <%= link_to *@pet.adoptable_link_args %>
    <%= link_to "This Pet's Shelter", "/shelters/#{@pet.shelter.id}" %>
  </navbar>
</header>

<main>
  <section>
    <h3><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h3>
    <p>
      Adoptable: <%= @pet.adoptable %><br/>
      Description: <%= @pet.description %><br/>
      Approximate Age: <%= @pet.approx_age %><br/>
      Sex: <%= @pet.sex %><br/>
      <%= image_tag "#{@pet.image_path}", alt: "#{@pet.image_path}" %>
    </p>
  </section>
</main>
