<header id="page-header">
  <h2>Pet Info</h2>
  <navbar>
    <% unless @favorites.favorited?(@pet.id) %>
      <%= link_to 'Favorite This Pet', "/pets/#{@pet.id}/favorites", method: :post %>
    <% else %>
      <%= link_to 'Remove From Favorites', "/favorites/#{@pet.id}", method: :delete %>
    <% end %>
    <%= link_to 'Edit Pet Info', "/pets/#{@pet.id}/edit" %>
    <% if @pet.adoptable %>
      <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
    <% end %>
    <%= link_to "This Pet's Shelter", "/shelters/#{@pet.shelter.id}" %>
    <%= link_to "Applications For This Pet", "/pets/#{@pet.id}/applications" %>
  </navbar>
</header>

<main>
  <section>
    <h3><%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></h3>
    <p>
      <% if !@pet.adoptable %>
        On hold for <%= link_to "#{@pet.owner.name}", "/applications/#{@pet.owner.id}" %><br/>
      <% end %>
      Adoptable: <%= @pet.adoptable_status %><br/>
      Description: <%= @pet.description %><br/>
      Approximate Age: <%= @pet.approx_age %><br/>
      Sex: <%= @pet.sex %><br/>
      <%= image_tag "#{@pet.image_path}", alt: "#{@pet.image_path}" %>
    </p>
  </section>
</main>
