<header id="page-header">
  <h2>Edit Review Info</h2>
</header>

<main>
  <section>
    <%= form_tag "/reviews/#{@review.id}", method: :patch do %>
      <%= label_tag :title %>
      <%= text_field_tag :title, @review.title %> <br/>
      <%= label_tag :rating %>
      <%= text_field_tag :rating, @review.rating %> <br/>
      <%= label_tag :content %>
      <%= text_field_tag :content, @review.content %> <br/>
      <%= label_tag :image_path, 'Image Path' %>
      <%= url_field_tag :image_path, @review.image_path %> <br/>
      <%= submit_tag 'Submit' %>
    <% end %>
  </section>
</main>
