<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header id ="site-header">
      <h1>Adopt Don't Shop</h1>
      <navbar>
        <%= link_to "Favorites (#{@num_favorites})", '/favorites' %>
        <%= link_to "Home", "/" %>
        <%= link_to "Pet Index", "/pets" %>
        <%= link_to "Shelter Index", "/shelters" %>
      </navbar>
    </header>
    <header id='flash-header'>
      <% flash.each do |type, message| %>
       <p><%= message %></p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
